.conatiner-contact {
  padding: 30px;
  border-radius: 5px;
  /* display: flex;
  align-items: center;
  justify-content: center;*/
}

.rounded {
  width: 500px;
}

.title-contact {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(140, 80, 196);
}

.form-group {
  width: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.animation-footer {
  padding-top: 70px;
}
