/*animation-slide-header*/

.animation-header .placeholder {
  min-height: 0.5em;
}

/*form*/

.conatiner-contact {
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.rounded {
  width: 500px;
  margin-top: 70px;
  margin-left: 300px;
}

.title-contact {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

.form-group {
  width: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  color: var(--main-text-color);
}

#text {
  padding-bottom: 1px;
}

.shadow-lg {
  background-color: var(--sixth-bg-color);
}

/*animation-slide-footer*/

.placeholder {
  background-color: var(--fifth-bg-color);
}

.animation-footer {
  padding-top: 70px;
}
