<!--form-->

<div class="title-contact">
  <p>Contact Me</p>
</div>

<div class="container-contact">
  <form>
    <!--NOMBRE-->
    <div class="form-group">
      <label>
        Name
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          required
        />
      </label>

      <!--EMAIL-->
      <div class="form-group">
        <label>
          Email
          <input
            type="text"
            class="form-control"
            formControlName="email"
            required
          />
        </label>
      </div>

      <!--COMENTARIO-->
      <div class="form-group">
        <label>
          Message
          <textarea
            cols="30"
            rows="10"
            class="form-control"
            formControlName="comentarios"
            required
          ></textarea>
        </label>
      </div>
      <button class="btn btn-info" type="submit">Enviar</button>
    </div>
  </form>
</div>

<div class="animation-footer">
  <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>

  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>
</div>
