/*img gif*/

.gif {
  padding: 10px;
  margin-bottom: -25px;
  margin-left: -33px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

/*setting card about me*/
.container-about {
  padding: 40px;
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.bg-body {
  background-color: var(--third-bg-color);
}

.card-body {
  background-color: var(--third-bg-color);
}

.mb-5 {
  margin-bottom: 0rem !important;
}

.card-header {
  font-size: 22px;
}

.card-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 23px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

.card-text {
  padding: 10px;
  font-size: 16px;
  font-family: "roboto", "Helvetica Neue";
  color: var(--main-text-color);
}

i {
  color: var(--third-icons-color);
}

/*btn-update*/
.btn-update {
  margin-top: 4px;
}

.btn-update i {
  padding: 3px;
}

/*alert validation*/
.alert {
  padding: 0px;
}
