<div class="bgColorFooter">
  <!--image AP-->
  <app-img-ap></app-img-ap>

  <div class="container">
    <div class="row">
      <div class="feautersIcons">
        <div class="col-3">
          <!--github-->
          <a href="http://github.com/lucia-pitrelli"
            ><i class="bi bi-github"><p class="text-icon">GitHub</p></i></a
          >
        </div>

        <!--linkedin-->
        <div class="col-3">
          <a href="#"
            ><i class="bi bi-linkedin"><p class="text-icon">LinkedIn</p></i></a
          >
        </div>

        <!--copyright-->
        <div class="col-3">
          <i class="bi bi-c-circle"
            ><p class="text-icon">Lucia B. Pitrelli</p></i
          >
        </div>
      </div>
    </div>
  </div>
</div>
