<div class="containerColor">
  <div class="container">
    <div class="justify-content-end">
      <!--img Argentina programa 4.0-->
      <a href="#" id="img-arg">
        <img [attr.src]="logoAp" />
      </a>

      <!--buttons changes and delete features-->
      <div class="container">
        <div class="btn-update">
          <button
            class="btn btn-primary"
            (click)="update()"
            data-bs-toggle="modal"
            data-bs-target="#projectModal"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-primary">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </div>
    </div>

    <section class="container-icons">
      <ul>
        <!--github-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-github"></i></a>

          <!--buttons changes and delete features-->
          <div class="container">
            <div class="btn-change">
              <button href="#" class="btn btn-primary">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button href="#" class="btn btn-primary">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </li>

        <!--linkedin-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-linkedin"></i></a>

          <!--buttons changes and delete features-->
          <div class="container">
            <div class="btn-change">
              <button href="#" class="btn btn-primary">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button href="#" class="btn btn-primary">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </li>

        <!--email-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-envelope-fill"></i></a>

          <!--buttons changes and delete features-->
          <div class="container">
            <div class="btn-change">
              <button href="#" class="btn btn-primary">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button href="#" class="btn btn-primary">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
