.feautersIcons {
  padding: 20px;
  font-size: 25px;
  color: var(--third-text-color);
  font-weight: bold;
}

.bgColorFooter {
  background-color: var(--fourth-bg-color);
}

/*image yo programo*/

#img-arg img {
  width: 150px;
  height: 50px;
}

/*icons
section ul {
  display: flex;
  justify-content: flex-end;
}*/
