.feautersIcons i {
  font-size: 25px;
  color: var(--third-text-color);
  font-weight: bold;
  padding-bottom: 3px;
}

.feautersIcons a {
  text-decoration: none;
}

.bgColorFooter {
  background-color: var(--fourth-bg-color);
}

.text-icon {
  padding-top: 20px;
  font-size: 18px;
  color: var(--third-text-color);
  font-weight: bold;
}
