.feautersIcons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.feautersIcons i {
  font-size: 25px;
  color: var(--third-text-color);
  font-weight: bold;
  padding-left: 10px;
}

.feautersIcons a {
  text-decoration: none;
}

.bgColorFooter {
  background-color: var(--fourth-bg-color);
  padding-top: 8px;
}

.text-icon {
  padding-top: 20px;
  font-size: 18px;
  color: var(--third-text-color);
  font-weight: bold;
}
