<div class="containerColor">
  <div class="container">
    <nav class="navStyle">
      <ul class="nav nav-pills justify-content-center">
        <!--img Argentina programa 4.0-->
        <li class="img-arg">
          <a href="#">
            <img
              src="../../../assets/img/APLogo.png"
              width="100px"
              height="20px"
            />
          </a>
        </li>
        <!--github-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-github"></i></a>
        </li>
        <!--linkedin-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-linkedin"></i></a>
        </li>
        <!--email-->
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-envelope-fill"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
