.navStyle {
  padding-top: 20px;
  font-size: 18px;
  color: var(--fourth-bg-color);
  font-weight: bold;
}

.containerColor {
  background-color: var(--fourth-bg-color);
}

.nav-link {
  color: var(--third-text-color);
}

/*section login / logout */

/*title welcome*/
.title-welcome {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--header-color);
  font-weight: bold;
  padding-top: 3px;
}
