.navStyle {
  padding: 20px;
  font-size: 18px;
  color: var(--fourth-bg-color);
  font-weight: bold;
}

.containerColor {
  background-color: var(--fourth-bg-color);
}

.nav-link {
  color: var(--third-text-color);
}

.title-header {
  font-size: 10px;
  padding-top: 15px;
  padding-right: 42px;
  color: var(--third-text-color);
}

.containerBtn {
  background-color: var(--fourth-bg-color);
  padding-left: 100px;
  padding-top: 0px;
  font-size: 18px;
}

.btn-login {
  padding: 8px;
  border-color: var(--secondary-icons-color);
}

a {
  text-decoration: none;
  color: var(--main-icons-color);
  font-weight: bold;
  font-size: 18px;
}

#img-arg {
  padding-right: 15px;
  padding-top: 6px;
}
