<div class="containerColor">
  <div class="container">
    <nav class="navStyle">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item" id="img-arg">
          <a href="#">
            <img [attr.src]="logoAp" />
          </a>
        </li>
        <li>
          <p class="title-header">{{ titleHeader }}</p>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About me</a>
        </li>
        <li class="nav-item">
          <a href="#education" class="nav-link">Education</a>
        </li>
        <li class="nav-item">
          <a href="#projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#skills" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact Me</a>
        </li>
      </ul>
    </nav>

    <app-button-login></app-button-login>
    <div class="title-welcome" *ngIf="login"><p>Welcome, Admin</p></div>
    <div *ngIf="!login">
      <app-button-logout></app-button-logout>
    </div>
  </div>
</div>
