<!--3 pages : add/create, change, delete-->
<div class="title-project">
  <p>Project</p>
</div>
<form>
  <div class="form-group">
    <label for="project-name">Project Name</label>
    <input type="text" class="form-control" id="project-name" />
  </div>
  <div class="form-group">
    <label for="project-image">Image</label>
    <input type="image" class="form-control" id="project-image" />
  </div>
  <div class="form-group">
    <label for="project-description">Description</label>
    <input type="text" class="form-control" id="project-description" />
  </div>
  <button type="submit"><i class="bi bi-file-text-fill"></i>Project</button>
</form>

<div class="container">
  <div>
    <button>
      <a href="/changeProject"><i class="bi bi-pencil-fill"></i></a>
    </button>
  </div>
  <div>
    <button>
      <a href="/deleteProject"><i class="bi bi-trash-fill"></i></a>
    </button>
  </div>
</div>
