<!--3 pages : add/create, change, delete-->
<div class="title">
  <h1>Add a project</h1>
</div>
<form>
  <div class="form-group">
    <label for="project-name">Add Project Name</label>
    <input type="text" class="form-control" id="project-name" />
  </div>
  <div class="form-group">
    <label for="project-image">Add Image</label>
    <input type="image" class="form-control" id="project-image" />
  </div>
  <div class="form-group">
    <label for="project-description">Add Description</label>
    <input type="text" class="form-control" id="project-description" />
  </div>
  <button type="submit"><i class="bi bi-file-text-fill"></i>Add Project</button>
</form>

<div class="title">
  <h1>Change a Project</h1>
</div>
<form>
  <div class="form-group">
    <label for="project-name">Change Project Name</label>
    <input type="text" class="form-control" id="project-name" />
  </div>
  <div class="form-group">
    <label for="project-image">Change Image</label>
    <input type="image" class="form-control" id="project-image" />
  </div>
  <div class="form-group">
    <label for="project-description">Change Description</label>
    <input type="text" class="form-control" id="project-description" />
  </div>
  <button type="submit">
    <i class="bi bi-file-text-fill"></i>Change Project
  </button>
</form>

<div class="title">
  <h1>Delete a Project</h1>
</div>
