<!--3 pages : add/create, change, delete-->
<div class="title-project">
  <p>Project</p>
</div>
<form>
  <div class="form-group">
    <label for="project-name">Project Name</label>
    <input type="text" class="form-control" id="project-name" />
  </div>
  <div class="form-group">
    <label for="project-image">Image</label>
    <input type="image" class="form-control" id="project-image" />
  </div>
  <div class="form-group">
    <label for="project-description">Description</label>
    <input type="text" class="form-control" id="project-description" />
  </div>
  <button type="submit"><i class="bi bi-file-text-fill"></i>Project</button>
</form>

<div class="conteiner">
  <div>
    <app-change-project></app-change-project>
  </div>
  <div>
    <app-add-project></app-add-project>
  </div>
  <div class="title-project">
    <h1>Delete a Project</h1>
  </div>
</div>
