<app-header></app-header>

<div class="dark-btn">
  <button (click)="toggleDarkTheme()">
    <i class="bi bi-toggles"></i> Light/Dark
  </button>
</div>

<div class="container-login">
  <!--title-->
  <div class="shadow-lg p-3 rounded">
    <div class="title-login">
      <p>Login to change data</p>
    </div>

    <!--form
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
     
     Email input -->
    <form [formGroup]="form">
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form2Example1"
          class="form-control"
          placeholder="Email"
        />
        <label class="form-label" for="form2Example1"></label>
      </div>
      <!--Error email-->
      <div class="error">
        <p>The email isn't valid</p>
        <p>The email is required</p>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="form2Example2"
          class="form-control"
          placeholder="Password"
        />
        <label class="form-label" for="form2Example2"></label>
      </div>

      <!--Error password-->
      <div class="error">
        <p>The password isn't valid</p>
        <p>The password is required</p>
      </div>

      <!--submit button-->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
