<app-header></app-header>

<!--change color SPA
<div class="dark-btn">
  <button (click)="toggleDarkTheme()">
    <i class="bi bi-toggles"></i> Light/Dark
  </button>
</div>
-->

<!--form login-->
<div class="container-login">
  <div class="shadow-lg p-3 rounded">
    <form [formGroup]="formValueLogin" (ngSubmit)="login($event)">
      <div class="form-outline mb-4">
        <div class="title-login">
          <label for="colFormLabel" class="col-sm-2 col-form-label"
            >Login</label
          >
        </div>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
        />
        <label class="form-label" for="loginForm"></label>
      </div>

      <!--Validation email-->
      <div>
        <div
          *ngIf="
            formValueLogin.get('email')?.invalid &&
            formValueLogin.get('email')?.touched
          "
          class="alert alert-warning"
        >
          <!--required-->
          <div *ngIf="formValueLogin.get('email')?.errors?.['required']">
            <p>
              <i class="bi bi-exclamation-circle-fill"></i>Email is required
            </p>
          </div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <label class="form-label" for="loginForm"></label>
      </div>

      <!--Validation password-->
      <div>
        <div
          *ngIf="
            formValueLogin.get('password')?.invalid &&
            formValueLogin.get('password')?.touched
          "
          class="alert alert-warning"
        >
          <!--required-->
          <div *ngIf="formValueLogin.get('password')?.errors?.['required']">
            <p>
              <i class="bi bi-exclamation-circle-fill"></i>Password is required
            </p>
          </div>

          <!--min length-->
          <div *ngIf="formValueLogin.get('name')?.errors?.['minlength']">
            <p>
              <i class="bi bi-exclamation-circle-fill"></i> The password must be
              at least 8 characters long
            </p>
          </div>
        </div>
      </div>

      <!--submit button-->
      <button
        type="submit"
        [disabled]="!formValueLogin.valid"
        class="btn btn-primary btn-block mb-4"
      >
        Sign in
      </button>
    </form>
  </div>
</div>

<button class="btn btn-warning" (click)="handlerClick()">Go to Home</button>

<app-footer></app-footer>
