/*form*/
.container-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  margin-bottom: 140px;
}

.title-login {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans;
  color: var(--main-titles-color);
}

.form-control {
  padding-right: 70px;
  margin-right: 10px;
}

.shadow-lg {
  background-color: var(--sixth-bg-color);
}

/*alert validation*/
.alert {
  padding: 0px;
}

/*btn home*/
.btn-home {
  padding-top: 10px;
  padding-left: 20px;
}
