/*form*/

.conatiner-contact {
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.rounded {
  width: 800px;
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: 100px;
}

.form-group {
  width: auto;
  padding: 15px;
}

.shadow-lg {
  background-color: var(--sixth-bg-color);
}

.title-project {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(140, 80, 196);
}

.btn-add {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-add button {
  letter-spacing: 1px;
  padding: 8px;
  color: var(--third-text-color);
  background-color: var(--fourth-bg-color);
}
