<app-header></app-header>

<!--form-->
<div class="container-contact">
  <div class="shadow-lg p-3 rounded">
    <div class="title-project">
      <p>Add a new project</p>
    </div>
    <form>
      <div class="form-group">
        <!--name project-->
        <input
          type="text"
          class="form-control"
          id="project-name"
          placeholder="Add Name"
        />
      </div>
      <!--image project-->
      <div class="form-group">
        <input
          type="image"
          class="form-control"
          id="project-image"
          placeholder="Add Image"
        />
      </div>
      <!--description project-->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="project-description"
          placeholder="Add Description"
        />
      </div>
      <!--date project-->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="project-description"
          placeholder="Add work date"
        />
      </div>
      <!--button-->
      <div class="btn-add">
        <button type="submit">
          <i class="bi bi-file-text-fill"></i>Submit
        </button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
