<section>
  <div
    class="modal fade"
    id="projectModal"
    tabindex="-1"
    aria-labelledby="projectModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background-color: #d4cbdd" class="modal-header">
          <h1 class="modal-title fs-5" id="projectModalLabel">Add: Project</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!--form-->
        <div class="modal-body">
          <form [formGroup]="formValueProject">
            <!--image-->
            <div class="row mb-3">
              <label for="formFile" class="form-label">Image</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  formControlName="image"
                  type="file"
                  id="formFile"
                />
              </div>
            </div>

            <!--validation img-->
            <div
              *ngIf="
                formValueProject.get('gif')?.invalid &&
                formValueProject.get('gif')?.touched
              "
              class="alert alert-warning"
            >
              <!--required-->
              <div *ngIf="formValueProject.get('gif')?.errors?.['required']">
                <p>
                  <i class="bi bi-exclamation-circle-fill"></i>The Image is
                  required
                </p>
              </div>
              <div *ngIf="formValueProject.pending">Validating...</div>
            </div>

            <!--name-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Project name</label
              >

              <!--[(ngModel)]="selectedProject.name"-->
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>

            <!--validation name-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('name')?.invalid &&
                  formValueProject.get('name')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div *ngIf="formValueProject.get('name')?.errors?.['required']">
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Project name is
                    required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('name')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('name')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 25 characters long
                  </p>
                </div>
              </div>
            </div>

            <!--details-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Project details</label
              >
              <!--[(ngModel)]="selectedProject.details"-->
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="details"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>

            <!--validation details-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('details')?.invalid &&
                  formValueProject.get('details')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['required']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i> Porject
                    details is required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 60 characters long
                  </p>
                </div>
              </div>
            </div>

            <!--date-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Date</label
              >

              <!--[(ngModel)]="selectedProject.date"-->
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="date"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>
            <!--validation date-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('date')?.invalid &&
                  formValueProject.get('date')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div *ngIf="formValueProject.get('date')?.errors?.['required']">
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Date is
                    required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('date')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('date')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 20 characters long
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--logical btn-->
        <div style="background-color: #d4cbdd" class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-success"
            data-bs-dismiss="modal"
            [disabled]="formValueProject.invalid"
          >
            Add
          </button>

          <!--(click)="(addProject)"   cuando implemente crud add project-->
        </div>
      </div>
    </div>
  </div>
</section>
