<!-- Modal update SOFT SKILLS-->
<section>
  <div
    class="modal fade"
    id="softSkillsModal"
    tabindex="-1"
    aria-labelledby="softSkillsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background-color: #d4cbdd" class="modal-header">
          <h1 class="modal-title fs-5" id="softSkillsModalLabel">
            Edit: Soft skills
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!--form-->
        <div class="modal-body">
          <form [formGroup]="formValueSoftSkill">
            <!--Soft Skills title-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Soft Skills</label
              >
              <!--softSkill input-->
              <div class="col-sm-10">
                <textarea
                  type="text"
                  formControlName="softSkill"
                  class="form-control"
                  id="colFormLabel"
                  [(ngModel)]="mySkills"
                ></textarea>
              </div>

              <!--validation Soft Skills-->
              <div>
                <div
                  *ngIf="
                    formValueSoftSkill.get('softSkill')?.invalid &&
                    formValueSoftSkill.get('softSkill')?.touched
                  "
                  class="alert alert-warning"
                >
                  <!--required-->
                  <div
                    *ngIf="formValueSoftSkill.get('softSkill')?.errors?.['required']"
                  >
                    <p>
                      <i class="bi bi-exclamation-circle-fill"></i>Details of
                      Soft Skill are required
                    </p>
                  </div>
                  <!--min length-->
                  <div
                    *ngIf="formValueSoftSkill.get('softSkill')?.errors?.['minlength']"
                  >
                    <p>
                      <i class="bi bi-exclamation-circle-fill"></i>Text must be
                      at least 3 characters long
                    </p>
                  </div>
                  <!--max length-->
                  <div
                    *ngIf="formValueSoftSkill.get('softSkill')?.errors?.['maxlength']"
                  >
                    <p>
                      <i class="bi bi-exclamation-circle-fill"></i>Text must be
                      less than 500 characters long
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--logical btn-->
        <div style="background-color: #d4cbdd" class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="formValueSoftSkill.invalid"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--FALTA AGREGAR UPDATE HARD SKILLS-->
