/*title list of projects*/
.title-project {
  padding-top: 70px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

/*card project*/

.container-project {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card-container {
  padding: 20px;
  margin: 20px;
}

.bg-body {
  background-color: var(--third-bg-color);
}

.card-body {
  background-color: var(--third-bg-color);
}

.card {
  padding: 7px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
  color: var(--main-titles-color);
}

.card-text {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Hel;
  color: var(--main-text-color);
}

/*button add, see, change and delete the project + style bootstrap*/
.btn {
  font-size: 14px;
  font-family: "Courier New", "Helvetica Neue", Hel;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  margin: 3px;
}

/*add project btn*/

.style-btn {
  background-color: var(--main-icons-color);
  padding: 5px;
  margin-left: 50px;
  margin-top: 10px;
}

.style-btn a {
  text-decoration: none;
  color: var(--third-text-color);
  font-weight: bold;
}

.style-btn i {
  color: var(--secondary-icons-color);
  font-size: 16px;
  padding: 4px;
}

/*btn-change and btn project*/
