<!--test login working-->
<div>
  <button type="button" (click)="mostrar = !mostrar">Mostrar/ocultar</button>
</div>

<!--title projects-->
<div class="title-project" id="projects">
  <p>My Projects</p>
</div>

<!--List of projects-->
<!--data binding: interpolacion-->

<section class="listProjects">
  <div class="container-project">
    <div *ngFor="let project of listProjects">
      <div class="card-container">
        <div>
          <div class="card m-5" style="width: 17rem">
            <img
              [attr.src]="project.image"
              class="card-img-top"
              class="img-thumbnail"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ project.id }} | {{ project.name }}</h5>
              <p class="card-text">
                {{ project.details }}
              </p>
              <p class="card-text">Date: {{ project.date }}</p>

              <!--buttons changes and delete features-->
              <div class="container" *ngIf="mostrar">
                <div class="btn-update">
                  <button
                    class="btn btn-primary"
                    (click)="update()"
                    data-bs-toggle="modal"
                    data-bs-target="#projectModal"
                  >
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <button class="btn btn-primary">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Edit-->
<section>
  <div
    class="modal fade"
    id="projectModal"
    tabindex="-1"
    aria-labelledby="projectModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background-color: #d4cbdd" class="modal-header">
          <h1 class="modal-title fs-5" id="projectModalLabel">Edit: Project</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!--form-->
        <div class="modal-body">
          <form [formGroup]="formValueProject">
            <!--image-->
            <div class="row mb-3">
              <label for="formFile" class="form-label">Image</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  formControlName="image"
                  type="file"
                  id="formFile"
                />
              </div>
            </div>

            <!--validation img-->
            <div
              *ngIf="
                formValueProject.get('gif')?.invalid &&
                formValueProject.get('gif')?.touched
              "
              class="alert alert-warning"
            >
              <!--required-->
              <div *ngIf="formValueProject.get('gif')?.errors?.['required']">
                <p>
                  <i class="bi bi-exclamation-circle-fill"></i>The Image is
                  required
                </p>
              </div>
              <div *ngIf="formValueProject.pending">Validating...</div>
            </div>

            <!--name-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Project name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>

            <!--validation name-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('name')?.invalid &&
                  formValueProject.get('name')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div *ngIf="formValueProject.get('name')?.errors?.['required']">
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Project name is
                    required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('name')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('name')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 25 characters long
                  </p>
                </div>
              </div>
            </div>

            <!--details-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Project details</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="details"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>

            <!--validation details-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('details')?.invalid &&
                  formValueProject.get('details')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['required']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i> Porject
                    details is required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('details')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 60 characters long
                  </p>
                </div>
              </div>
            </div>

            <!--date-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Date</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="date"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>
            <!--validation date-->
            <div>
              <div
                *ngIf="
                  formValueProject.get('date')?.invalid &&
                  formValueProject.get('date')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div *ngIf="formValueProject.get('date')?.errors?.['required']">
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Date is
                    required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueProject.get('date')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 3 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueProject.get('date')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 20 characters long
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--logical btn-->
        <div style="background-color: #d4cbdd" class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            *ngIf="showadd"
            type="button"
            class="btn btn-success"
            data-bs-dismiss="modal"
            [disabled]="formValueProject.invalid"
          >
            Add
          </button>

          <button
            *ngIf="showupdate"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="formValueProject.invalid"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--button add project-->
<div *ngIf="mostrar">
  <button
    class="btn btn-primary"
    (click)="add()"
    data-bs-toggle="modal"
    data-bs-target="#projectModal"
  >
    <i class="bi bi-plus-circle">Add new Project</i>
  </button>
</div>
