/*title list of projects*/
.title-project {
  padding-top: 70px;

  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(140, 80, 196);
}

/*card project*/
.card-container {
  padding: 20px;
}

.card {
  padding: 7px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
  color: rgb(140, 80, 196);
}

.card-text {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Hel;
}

/*button add, see, change and delete the project + style bootstrap*/
.btn {
  font-size: 14px;
  font-family: "Courier New", "Helvetica Neue", Hel;
  font-weight: bold;
  padding: 5px;
  margin: 3px;
}

/*add project btn*/

.style-btn {
  background-color: rgb(158, 99, 214);
  padding: 5px;
  margin-left: 50px;
  margin-top: 10px;
}

.style-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.style-btn i {
  color: white;
  font-size: 16px;
  padding: 4px;
}

/*btn-change and btn project*/
