<!--test login working
<div>
  <button type="button" (click)="mostrar = !mostrar">Mostrar/ocultar</button>
</div>-->

<!--title projects-->
<div class="title-project" id="projects">
  <p>My Projects</p>
</div>

<!--List of projects-->
<!--data binding: interpolacion-->

<section class="container">
  <div class="container-project">
    <div *ngFor="let project of listProjects">
      <div class="card-bg">
        <div>
          <div class="shadow card m-5" style="width: 17rem">
            <img
              [attr.src]="project.image"
              class="card-img-top"
              class="img-thumbnail"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ project.id }} | {{ project.name }}</h5>
              <p class="card-text">
                {{ project.details }}
              </p>
              <p class="card-text">Date: {{ project.date }}</p>
            </div>

            <!--buttons changes and delete features/ *ngIf="mostrar"-->
            <div class="container">
              <div class="btn-update">
                <button
                  class="btn btn-primary"
                  (click)="update()"
                  data-bs-toggle="modal"
                  data-bs-target="#projectUpdateModal"
                >
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-primary">
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--button add project/ *ngIf="mostrar"-->
  <div>
    <button
      class="btn btn-primary"
      (click)="add()"
      data-bs-toggle="modal"
      data-bs-target="#projectModal"
    >
      <i class="bi bi-plus-circle">Add new Project</i>
    </button>
  </div>
</section>

<!--Modal update project-->

<app-change-project></app-change-project>

<!-- Modal add project-->

<app-add-project></app-add-project>
