/*title list of projects*/
.title-project {
  padding-top: 70px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

/*list project*/

.container-project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card-bg {
  padding: 20px;
  margin: 20px;
}

.bg-body {
  background-color: var(--third-bg-color);
}

.card-body {
  background-color: var(--third-bg-color);
}

.card {
  padding: 7px;
  height: 420px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
  color: var(--main-titles-color);
}

.card-text {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Hel;
  color: var(--main-text-color);
}
