<!--test login working-->
<div>
  <button type="button" (click)="mostrar = !mostrar">Mostrar/ocultar</button>
</div>

<!--title projects-->
<div class="title-project" id="projects">
  <p>My Projects</p>
</div>

<!--button add project-->
<div *ngIf="mostrar">
  <button
    class="btn btn-primary"
    (click)="add()"
    data-bs-toggle="modal"
    data-bs-target="#projectModal"
  >
    <i class="bi bi-plus-circle">Add new Project</i>
  </button>
</div>

<!--List of projects-->
<!--data binding: interpolacion-->

<section class="listProjects">
  <div class="container-project">
    <div *ngFor="let project of listProjects">
      <div class="card-container">
        <div>
          <div class="card m-5" style="width: 17rem">
            <img
              [attr.src]="project.image"
              class="card-img-top"
              class="img-thumbnail"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ project.id }} | {{ project.name }}</h5>
              <p class="card-text">
                {{ project.details }}
              </p>
              <p class="card-text">Date: {{ project.date }}</p>

              <!--buttons changes and delete features-->
              <div class="container" *ngIf="mostrar">
                <div class="btn-update">
                  <button
                    class="btn btn-primary"
                    (click)="update()"
                    data-bs-toggle="modal"
                    data-bs-target="#projectModal"
                  >
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <button class="btn btn-primary">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Edit-->
<section>
  <div
    class="modal fade"
    id="projectModal"
    tabindex="-1"
    aria-labelledby="projectModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background-color: #d4cbdd" class="modal-header">
          <h1 class="modal-title fs-5" id="projectModalLabel">Edit: Project</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <!--form-->
    <div class="modal-body">
      <form [formGroup]="formValueProject">
        <!--image-->
        <div class="row mb-3">
          <label for="formFile" class="form-label">Image</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              formControlName="image"
              type="file"
              id="formFile"
            />
          </div>
        </div>

        <!--validation gif/img-->
        <div
          *ngIf="
            formValueProject.get('gif')?.invalid &&
            formValueProject.get('gif')?.touched
          "
          class="alert alert-warning"
        >
          <!--required-->
          <div *ngIf="formValueProject.get('gif')?.errors?.['required']">
            <p>
              <i class="bi bi-exclamation-circle-fill"></i>The Image is required
            </p>
          </div>
          <div *ngIf="formValueProject.pending">Validating...</div>
        </div>
      </form>
    </div>
  </div>
</section>
