.title {
  padding-top: 70px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

.container_education {
  justify-content: center;
}

.education_description {
  display: grid;
  justify-content: end;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.title_course {
  padding-top: 4px;
  padding-bottom: 1px;

  color: var(--main-text-color);
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.text_course {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Hel;
  color: var(--main-text-color);
}

.icon-dates i {
  font-size: 20px;
  padding-right: 6px;
  color: var(--main-icons-color);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--fourth-bg-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--fourth-bg-color);
  transform: translate(6px, -7px);
}

.final-icon-container {
  font-size: 22px;
  color: var(--main-icons-color);
  text-align: center;
}

/*button update features*/

.btn-update i {
  padding-left: 3px;
}

/*alert validation*/
.alert {
  padding: 0px;
}
