<section class="container">
  <div><p class="title" id="education">Education</p></div>

  <div class="container_education" *ngFor="let course of listOfCourses">
    <div class="qualification__data">
      <div></div>
      <div>
        <span class="qualification__rounder"> </span>
        <span class="qualification__line"></span>
      </div>
      <div class="education_description_2">
        <p class="title_course">{{ course.institution }}</p>
        <p class="text_course">{{ course.degree }}</p>
        <div class="icon-dates">
          <p><i class="bi bi-calendar4-week"></i>{{ course.date }}</p>
        </div>

        <!--buttons changes and delete features -->
        <div class="container">
          <div class="btn-update">
            <!--  <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#educationUpdateModal"
            >
              <i class="bi bi-pencil-fill" (click)="update(course.id)"></i>
            </button>-->

            <label
              class="btn btn-primary"
              routerLink="editEducation/{{ course.id }}"
              ><i class="bi bi-pencil-fill"></i
            ></label>

            <button type="button" class="btn btn-primary">
              <i class="bi bi-trash3-fill" (click)="delete(course.id)"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--decoration star-->
  <div class="final-icon-container">
    <i class="bi bi-star-fill"></i>
  </div>

  <!--btn add education-->
  <div>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#educationModal"
    >
      <i class="bi bi-plus-circle">Add new education</i>
    </button>
  </div>
</section>

<!-- Modal add Education-->

<app-add-education></app-add-education>

<!-- Modal update Education

<app-change-education></app-change-education>-->
