<div><p class="title" id="education">Education</p></div>

<section class="container_education">
  <div class="qualification__data">
    <div class="education_description">
      <p>Digital House</p>
      <p>Full stack developer</p>
      <p>2021-2022</p>
    </div>
    <div>
      <span class="qualification__rounder"> </span>
      <span class="qualification__line"></span>
    </div>
    <div></div>
  </div>
  <div class="qualification__data">
    <div></div>
    <div>
      <span class="qualification__rounder"> </span>
      <span class="qualification__line"></span>
    </div>
    <div class="education_description_2">
      <p>Argentina Programa 4.0</p>
      <p>Sé Programar</p>
      <p>Full stack developer</p>
      <p>2022</p>
    </div>
  </div>
  <div class="qualification__data">
    <div class="education_description">
      <p>Argentina Programa 4.0</p>
      <p>Yo Programar</p>
      <p>Full stack developer</p>
      <p>2023 - Actualmente</p>
    </div>
    <div>
      <span class="qualification__rounder"> </span>
    </div>
  </div>
</section>
