.title-project {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(140, 80, 196);
}
