<div class="container-skills" id="skills">
  <div class="row align-items-center">
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card border-light mb-5">
          <div class="card-header"><i class="bi bi-tools"></i></div>
          <div class="card-body">
            <h5 class="card-title">Hard and Soft Skills</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <p>Javascript</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Typescript</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Java</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Data base</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Scrum</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 75%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Node.js</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="200"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>Angular</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
      <p>React</p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="200"
        ></div>
      </div>
    </div>
  </div>
</div>
