<div class="container-skills" id="skills">
  <div class="row align-items-center">
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card border-light mb-5">
          <div class="card-header"><i class="bi bi-tools"></i></div>
          <div class="card-body">
            <h5 class="card-title">Hard and Soft Skills</h5>
            <p class="card-text">
              {{ mySkills }}
            </p>
          </div>
          <!--button change features-->
          <div class="container">
            <div class="btn-update">
              <button>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--List of skills-->
    <div class="col">
      <div *ngFor="let skill of listOfSkills; let i = index">
        <div class="description-skill">
          <div class="name-skill">
            <p>{{ skill.name }}</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ skill.percentage }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="skill.percentage"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
        <div class="mt-2">
          <input
            type="button"
            value="Minus"
            class="btn btn-outline-danger"
            (click)="onProgress(0)"
          />
          <input
            type="button"
            value="Plus"
            class="btn btn-outline-danger"
            (click)="onProgress(1)"
          />
        </div>
      </div>

      <!--

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Typescript</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>

        <div class="mt-2">
          <input
            type="button"
            value="Minus"
            class="btn btn-outline-danger"
            (click)="onProgress(0)"
          />
          <input
            type="button"
            value="Plus"
            class="btn btn-outline-danger"
            (click)="onProgress(1)"
          />
        </div>
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Java</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Data Base</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Angular</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="87"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>HTML</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="92"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>CSS</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="73"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Bootstrap</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="62"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>

      <div>
        <div class="description-skill">
          <div class="name-skill">
            <p>Scrum</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ wd }}%</p>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="wd"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>
      </div>
      <div class="mt-2">
        <input
          type="button"
          value="Minus"
          class="btn btn-outline-danger"
          (click)="onProgress(0)"
        />
        <input
          type="button"
          value="Plus"
          class="btn btn-outline-danger"
          (click)="onProgress(1)"
        />
      </div>
    </div>
    --></div>
  </div>
</div>
