.container-skills {
  padding: 30px;
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 137px;
}

.col {
  margin-right: 30px;
  margin-left: 30px;
}

/*card soft skills */

.bg-body {
  background-color: var(--third-bg-color);
}

.card-body {
  background-color: var(--third-bg-color);
}

.card-header {
  font-size: 22px;
}

.card-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 23px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-titles-color);
}

.card-text {
  padding: 10px;
  font-size: 16px;
  font-family: "roboto", "Helvetica Neue";
}

.mb-5 {
  margin-bottom: 0rem !important;
}

i {
  color: var(--third-icons-color);
}

/*list of hard skills*/

.description-skill {
  display: flex;
  padding-top: 11px;
  padding-right: 46px;
  justify-content: flex-end;
}

.name-skill {
  color: var(--main-text-color);
  font-size: 17px;
  font-family: "roboto", "Helvetica Neue";
}

.slash-skill {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  color: var(--main-text-color);
}

.number-skill {
  padding-top: 2px;
  font-style: italic;
  font-size: 14px;
  color: var(--fourth-text-color);
}

.progress {
  background-color: var(--third-bg-color);
  height: 0.7rem;
}

.progress-bar {
  background-color: var(--secondary-bg-color);
}

/*btn add hard skill*/

.btn-add-skill {
  padding-top: 15px;
  padding-left: 40px;
}

.btn-add-skill button i {
  color: var(--third-bg-color);
}

/*button update features*/
.btn-update-skill {
  margin: 3px;
}

.btn-update-skill button i {
  color: var(--third-bg-color);
}
