<div class="container-skills" id="skills">
  <div class="row align-items-center">
    <div class="title-skills">
      <p>My Skills</p>
    </div>

    <!--FIRST SECTION-->
    <!--Soft skills-->
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card border-light mb-5">
          <div class="card-header"><i class="bi bi-tools"></i></div>
          <div class="card-body">
            <h5 class="card-title">Soft Skills</h5>
            <p class="card-text">
              {{ mySkills }}
            </p>
          </div>

          <!--buttons changes and delete features-->
          <div class="container">
            <div class="btn-update">
              <button
                class="btn btn-primary"
                (click)="update()"
                data-bs-toggle="modal"
                data-bs-target="#softSkillsModal"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn btn-primary">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--SECOND SECTION-->

    <!--List of Hard skills-->
    <div class="col">
      <h1 class="card-title">Hard Skills</h1>
      <div *ngFor="let skill of listOfSkills; let i = index">
        <div class="description-skill">
          <div class="name-skill">
            <p>{{ skill.name }}</p>
          </div>
          <div class="slash-skill"><p>|</p></div>
          <div class="number-skill">
            <p>{{ skill.percentage }}%</p>
          </div>
        </div>

        <!--progress bar skills-->
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style.width.%]="skill.percentage"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="200"
          ></div>
        </div>

        <!--buttons changes and delete features-->
        <div class="container">
          <div class="btn-update">
            <button
              class="btn btn-primary"
              (click)="update()"
              data-bs-toggle="modal"
              data-bs-target="#hardSkillModal"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-primary">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--btn add new Hard skills-->
<div>
  <button
    class="btn btn-primary"
    (click)="add()"
    data-bs-toggle="modal"
    data-bs-target="#hardSkillModal"
  >
    <i class="bi bi-plus-circle">Add new Hard Skill</i>
  </button>
</div>

<!--MODALES-->

<!--modal update soft skills-->

<app-change-skills></app-change-skills>

<!-- Modal Edit HARD SKILLS-->
<section>
  <div
    class="modal fade"
    id="hardSkillModal"
    tabindex="-1"
    aria-labelledby="hardSkillModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background-color: #d4cbdd" class="modal-header">
          <h1 class="modal-title fs-5" id="hardSkillModalLabel">
            Edit: Hard Skills
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!--form-->
        <div class="modal-body">
          <form [formGroup]="formValueHardSkill">
            <!--Skill's name-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label">
                Skill's name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="colFormLabel"
                />
              </div>
            </div>

            <!--validation Skill's name-->
            <div>
              <div
                *ngIf="
                  formValueHardSkill.get('name')?.invalid &&
                  formValueHardSkill.get('name')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div
                  *ngIf="formValueHardSkill.get('name')?.errors?.['required']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Skill's name is
                    required
                  </p>
                </div>
                <!--min length-->
                <div
                  *ngIf="formValueHardSkill.get('name')?.errors?.['minlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be at
                    least 1 characters long
                  </p>
                </div>
                <!--max length-->
                <div
                  *ngIf="formValueHardSkill.get('name')?.errors?.['maxlength']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Text must be
                    less than 20 characters long
                  </p>
                </div>
              </div>
            </div>

            <!--percentage-->
            <div class="row mb-3">
              <label for="colFormLabel" class="col-sm-2 col-form-label"
                >Percentage</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="percentage"
                  min="10"
                  max="100"
                  required
                />
              </div>
            </div>
            <!--validation percentage-->

            <div>
              <div
                *ngIf="
                  formValueHardSkill.get('percentage')?.invalid &&
                  formValueHardSkill.get('percentage')?.touched
                "
                class="alert alert-warning"
              >
                <!--required-->
                <div
                  *ngIf="formValueHardSkill.get('percentage')?.errors?.['required']"
                >
                  <p>
                    <i class="bi bi-exclamation-circle-fill"></i>Percentage is
                    required
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--logical btn-->
        <div style="background-color: #d4cbdd" class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button
            *ngIf="showadd"
            type="button"
            class="btn btn-success"
            data-bs-dismiss="modal"
            [disabled]="formValueHardSkill.invalid"
          >
            Add
          </button>

          <button
            *ngIf="showupdate"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="formValueHardSkill.invalid"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
