:root {
  --main-bg-color: #ddd8d8;
  --secondary-bg-color: #8c50c4;
  --third-bg-color: #FFFFFF;
  --fourth-bg-color: #8c55a2;
  --fifth-bg-color: #423e3e;
  --sixth-bg-color: #dddddd96;

  --main-icons-color: #8c55a2;
  --secondary-icons-color: #FFFFFF;
  --third-icons-color: #423e3e;

  --main-titles-color: #8c50c4;
  --header-color: #0b00af;

  --main-text-color: #0d0d0d;
  --secondary-text-color: #8c55a2;
  --third-text-color: #FFFFFF
  --fourth-text-color: #423e3e;
}

:root .dark-theme {
  --main-bg-color: #262248;
  --secondary-bg-color: #6d1dad;
  --third-bg-color: #8d8d8d;
  --fourth-bg-color: #393972;

  --sixth-bg-color: #1616167a;

  --main-titles-color: #FFFFFF;
  --secondary-titles-color: #6d1dad;
  --header-color: #ff8556;

  --main-text-color: #FFFFFF;
  --secondary-text-color: #0d0d0d;
}

.backgroundHome {
  background-color: var(--main-bg-color);
}
