/*login button*/

.containerBtn {
  background-color: var(--fourth-bg-color);
  font-size: 18px;

  display: flex;
  flex-direction: row-reverse;

  padding-bottom: 3px;
}

.btn-login {
  padding: 8px;
  border-color: var(--secondary-icons-color);
}

a {
  text-decoration: none;
  color: var(--main-icons-color);
  font-weight: bold;
  font-size: 18px;
}
