<div class="container-presentation">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="title-presentation">
          <h1>Hello, I'm</h1>
          <h1>Lucia B. Pitrelli</h1>
        </div>
        <div class="text-presentation">
          <p>
            <i class="bi bi-pc-display-horizontal"></i>Full Stack Developer Jr
          </p>
          <p><i class="bi bi-geo-fill"></i>Based in Buenos Aires, Argentina</p>
        </div>
      </div>
      <div class="col">
        <div>
          <img src="../../../../assets/img/portfolio.png" width="500px" />
        </div>
      </div>
    </div>
  </div>
</div>
