.presentation {
  padding: 40px;
  margin: 20px;
  color: green;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}
