<!--section presentation text-->

<div class="container-presentation">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col" *ngFor="let presentation of myPresentation">
        <div class="title-presentation">
          <h1>{{ presentation.greeting }}</h1>
          <div>
            <h1>{{ presentation.name }}</h1>
          </div>
        </div>
        <div class="text-presentation">
          <p>
            <i class="bi bi-pc-display-horizontal"></i
            >{{ presentation.position }}
          </p>

          <p><i class="bi bi-geo-fill"></i>{{ presentation.ubication }}</p>
        </div>

        <!--buttons changes, add and delete features-->
        <div class="container">
          <div class="btn-change">
            <button
              class="btn btn-primary"
              (click)="update()"
              data-bs-toggle="modal"
              data-bs-target="#presentationModal"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-primary">
              <i class="bi bi-trash3-fill"></i>
            </button>
            <button
              class="btn btn-primary"
              (click)="add()"
              data-bs-toggle="modal"
              data-bs-target="#presentationModal"
            >
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Modal Edit-->
      <div
        class="modal fade"
        id="presentationModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div style="background-color: #d4cbdd" class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Edit: Presentation
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <!--form-->
            <div class="modal-body">
              <form [formGroup]="formValue">
                <!--greeting-->
                <div class="row mb-3">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >Text</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      formControlName="greeting"
                      class="form-control"
                      id="colFormLabel"
                    />
                  </div>
                </div>

                <!--validation greeting-->
                <div>
                  <div
                    *ngIf="
                      formValue.get('greeting')?.invalid &&
                      formValue.get('greeting')?.touched
                    "
                    class="alert alert-warning"
                  >
                    <!--required-->
                    <div
                      *ngIf="formValue.get('greeting')?.errors?.['required']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>Text is
                        required
                      </p>
                    </div>
                    <!--min length-->
                    <div
                      *ngIf="formValue.get('greeting')?.errors?.['minlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>Text must
                        be at least 5 characters long
                      </p>
                    </div>
                    <!--max length-->
                    <div
                      *ngIf="formValue.get('greeting')?.errors?.['maxlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>Text must
                        be less than 25 characters long
                      </p>
                    </div>
                  </div>
                </div>

                <!--name-->
                <div class="row mb-3">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >Name</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      id="colFormLabel"
                    />
                  </div>
                </div>

                <!--validation name-->
                <div>
                  <div
                    *ngIf="
                      formValue.get('name')?.invalid &&
                      formValue.get('name')?.touched
                    "
                    class="alert alert-warning"
                  >
                    <!--required-->
                    <div *ngIf="formValue.get('name')?.errors?.['required']">
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The name is
                        required
                      </p>
                    </div>
                    <!--min length-->
                    <div *ngIf="formValue.get('name')?.errors?.['minlength']">
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i> The name
                        must be at least 5 characters long
                      </p>
                    </div>
                    <!--max length-->
                    <div *ngIf="formValue.get('name')?.errors?.['maxlength']">
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The name
                        must be less than 25 characters long
                      </p>
                    </div>
                  </div>
                </div>

                <!--position-->
                <div class="row mb-3">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >Position</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      formControlName="position"
                      class="form-control"
                      id="colFormLabel"
                    />
                  </div>
                </div>

                <!--validation position-->
                <div>
                  <div
                    *ngIf="
                      formValue.get('position')?.invalid &&
                      formValue.get('position')?.touched
                    "
                    class="alert alert-warning"
                  >
                    <!--required-->
                    <div
                      *ngIf="formValue.get('position')?.errors?.['required']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The
                        position is required
                      </p>
                    </div>
                    <!--min length-->
                    <div
                      *ngIf="formValue.get('position')?.errors?.['minlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i> The
                        position must be at least 5 characters long
                      </p>
                    </div>
                    <!--max length-->
                    <div
                      *ngIf="formValue.get('position')?.errors?.['maxlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The
                        position must be less than 35 characters long
                      </p>
                    </div>
                  </div>
                </div>

                <!--ubication-->
                <div class="row mb-3">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >Ubication</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      formControlName="ubication"
                      class="form-control"
                      id="colFormLabel"
                    />
                  </div>
                </div>

                <!--validation ubication-->
                <div>
                  <div
                    *ngIf="
                      formValue.get('ubication')?.invalid &&
                      formValue.get('ubication')?.touched
                    "
                    class="alert alert-warning"
                  >
                    <!--required-->
                    <div
                      *ngIf="formValue.get('ubication')?.errors?.['required']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The
                        ubication is required
                      </p>
                    </div>
                    <!--min length-->
                    <div
                      *ngIf="formValue.get('ubication')?.errors?.['minlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i> The
                        ubication must be at least 5 characters long
                      </p>
                    </div>
                    <!--max length-->
                    <div
                      *ngIf="formValue.get('ubication')?.errors?.['maxlength']"
                    >
                      <p>
                        <i class="bi bi-exclamation-circle-fill"></i>The
                        ubication must be less than 50 characters long
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!--logical btn-->
            <div style="background-color: #d4cbdd" class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                *ngIf="showadd"
                type="button"
                class="btn btn-success"
                data-bs-dismiss="modal"
                [disabled]="formValue.invalid"
              >
                Add
              </button>

              <button
                *ngIf="showupdate"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                [disabled]="formValue.invalid"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--section image-->
      <div class="col">
        <div class="img-bg">
          <img [attr.src]="myImage" />
        </div>
        <!--button change  <div class="container">-->

        <!--buttons changes and delete features-->

        <div class="container">
          <div class="btn-change">
            <button href="#" class="btn btn-primary">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button href="#" class="btn btn-primary">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
